<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.motorshow2014"
    version   = "1.0.0">

<name>motorshows</name>

<description>
ford
</description>

<author href="https://www.creacore.pe" email="ronald@creacore.pe">
Your Name
</author>

</widget>
